<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('partials/header') %>

    <div class="container-fluid mt-4" id="content">
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="main-header text-center">
                  <h1>Welcome to Transformers!</h1>
              </div>
  
              <div class="row justify-content-center mb-4">
                  <div class="col-12 text-center mb-3">
                      <div class="scan-card">
                          <img src="/images/icons/scan-icon.png" alt="Scan Icon" class="img-fluid scan-icon">
                          <p class="scan-text">Scan It!</p>
                      </div>
                  </div>
              </div>
  
              <div class="row icon-grid justify-content-center">
                  <div class="col-6 col-md-3 text-center icon-card-wrapper">
                      <div class="icon-card">
                          <img src="/images/icons/modules-icon.png" alt="Modules Icon" class="img-fluid icon-img">
                          <p>Modules</p>
                      </div>
                  </div>
                  <div class="col-6 col-md-3 text-center icon-card-wrapper">
                      <div class="icon-card">
                          <img src="/images/icons/challenges-icon.png" alt="Challenges Icon" class="img-fluid icon-img">
                          <p>Challenge</p>
                      </div>
                  </div>
                  <div class="col-6 col-md-3 text-center icon-card-wrapper">
                      <div class="icon-card">
                          <img src="/images/icons/map-icon.png" alt="Local Stations Icon" class="img-fluid icon-img">
                          <p>Local Stations</p>
                      </div>
                  </div>
                  <div class="col-6 col-md-3 text-center icon-card-wrapper">
                      <div class="icon-card">
                          <img src="/images/icons/coupons-icon.png" alt="Coupons Icon" class="img-fluid icon-img">
                          <p>Coupons</p>
                      </div>
                  </div>
              </div>
  
              <div class="row">
                  <div class="col-lg-8">
                      <h2>Featured Modules</h2>
                      <% if (typeof modules !== 'undefined' && modules.length > 0) { %>
                          <% modules.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt)).forEach((module, index) => { %>
                              <div class="card mb-3">
                                  <div class="row no-gutters">
                                      <div class="col-md-4">
                                          <img src="/images/modulePhotos/<%= module.photo %>" class="card-img" alt="<%= module.title %> Image">
                                      </div>
                                      <div class="col-md-8">
                                          <div class="card-body">
                                              <h5 class="card-title"><%= module.title %></h5>
                                              <p class="card-text"><%= module.shortDescription %></p>
                                              <p class="card-text"><small class="text-muted"><%= module.modulePoints %> points</small></p>
                                              <a href="/module/<%= module._id %>" class="btn module-button">Start Learning</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          <% }) %>
                      <% } else { %>
                          <div class="alert alert-warning" role="alert">
                              No modules are available at the moment. Please check back soon as modules will be added shortly.
                          </div>
                      <% } %>
                  </div>
  
                  <div class="col-lg-4">
                      <div class="leaderboard">
                          <h2>Leaderboard</h2>
                          <ol class="list-group">
                              <li class="list-group-item">1st: Lacus sit - 25 points</li>
                              <li class="list-group-item">2nd: Sit vel - 23 points</li>
                              <li class="list-group-item">3rd: Enim lobortis - 15 points</li>
                          </ol>
                      </div>
  
                      <div class="module-progress">
                          <h2>Module Progress</h2>
                          <ul class="list-group">
                              <li class="list-group-item">Plastic: 50%</li>
                              <li class="list-group-item">Recycling Techniques: 30%</li>
                              <li class="list-group-item">Paper: 20%</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  
  

    <footer class="footer mt-auto">
        <div class="container text-center">
            <span>&copy; 2024 Transformers. All rights reserved.</span>
            <div class="social-icons mt-2">
                <a href="#" class="text-white mx-2">Facebook</a>
                <a href="#" class="text-white mx-2">Twitter</a>
                <a href="#" class="text-white mx-2">LinkedIn</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
